/* Use your own code or past solution for Great Idea Web Page CSS here! */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  max-width: 100%;
}

html,
body {
  height: 100%;
  margin: auto;
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
header {
  display: flex;
}

nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 80%;
}
nav a {
  padding: 50px;
  color: gray;
}
.nav .logo {
  width: 20%;
}

.content-page {
  width: 878px;
  margin: auto;
}

.top-content {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 7.5%;
  /* border-bottom: 2px solid black; */
}
.headerwithbutton {
  font-size: 46pt;
}
.getstarted {
  text-align: center;
  border: 1px solid gray;
}

.right {
  display: flex;
  align-items: baseline;
  justify-items: flex-end;
}

.middle-content {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 10px;
}

.bottom-content {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 10px;
}

footer {
  text-align: center;
  margin: 5%;
}

/* tablet-veiw */

@media (max-width: 800px) {
  .right {
    display: none;
  }
  .nav a {
    padding: 20px;
    text-decoration: none;
  }
  .nav {
    display: flex;
    margin: 20px;
  }
  .nav .logo {
    order: -9;
  }

  .getstarted {
    font-size: 40%;
  }

  body {
    margin-right: 20px;
    margin-left: 5%;
  }
}

@media (max-width: 500px) {
  body {
    width: 95%;
  }
  .nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border-bottom: 1px solid gray; */
  }
  a {
    border-bottom: 1px solid gray;
    width: 100%;
  }
  .middle-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
  }
  .box {
    margin: 15px 0;
  }

  .bottom-content {
    display: flex;
    flex-direction: column;
  }
  .right {
    width: 20%;
  }
  .nav .logo {
    order: -6;
  }
}
